<form method="post" action="{{ path('app_correction_delete', {'id': correction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ correction.id) }}">
    <button class="btn">Delete</button>
</form>
